<div class="forecast-app">
  <div class="container">
    <main>
      <header>
        <h1>Precipitações</h1>
        <app-date-range [dates]="chartDates"></app-date-range>
      </header>

      <div class="controls">
        <div class="select-wrapper">
          <label for="points">Ponto:</label>
          <select
            (change)="onPointChange($event)"
            [value]="selectedPoint?.location.id"
            class="select"
          >
            <option *ngFor="let point of points" [value]="point.location.id">
              {{ point.location.nome }}
            </option>
          </select>
        </div>

        <button (click)="toggleDailyHourlyView()" class="btn large">
          Por {{ isDaily ? "Hora" : "Dia" }}
        </button>
      </div>

      <ng-container *ngIf="selectedPoint">
        <div class="chart-container" *ngIf="isForecast; else historicalChart">
          <h2 class="chart-title">Previsão de precipitação</h2>

          <app-precipitation-chart
            [data]="isDaily ? nextPrecipitationDaily : nextPrecipitationHourly"
            [isForecast]="true"
            [isDaily]="isDaily"
            (datesChange)="onDatesChange($event)"
            class="precipitation-chart"
          ></app-precipitation-chart>
        </div>

        <ng-template #historicalChart>
          <div class="chart-container">
            <h2 class="chart-title">Histórico de precipitação</h2>
            <app-precipitation-chart
              [data]="
                isDaily ? lastPrecipitationDaily : lastPrecipitationHourly
              "
              [isForecast]="false"
              [isDaily]="isDaily"
              (datesChange)="onDatesChange($event)"
              class="precipitation-chart"
            ></app-precipitation-chart>
          </div>
        </ng-template>
      </ng-container>
    </main>

    <footer>
      <div class="controls">
        <button
          (click)="toggleForecastStationView()"
          class="btn large"
          type="button"
        >
          {{ isForecast ? "Ver Histórico" : "Ver Previsão" }}
        </button>
      </div>
      <img
        class="logo"
        src="/assets/images/meteoblue-logo.svg"
        alt="Meteoblue logo"
      />
    </footer>
  </div>
</div>
