<main>
  <h1>Angular Test</h1>
  <div>
    <select
      (change)="onPointChange($event)"
      [value]="selectedPoint?.location.id"
    >
      <option *ngFor="let point of points" [value]="point.location.id">
        {{ point.location.nome }}
      </option>
    </select>
  </div>

  <app-precipitation-chart
    *ngIf="isDaily"
    [data]="lastPrecipitationDaily"
  ></app-precipitation-chart>
  <app-precipitation-chart
    *ngIf="!isDaily"
    [data]="lastPrecipitationHourly"
    [isDaily]="false"
  ></app-precipitation-chart>

  <div>
    <button (click)="toggleDailyHourlyView()">
      Trocar por {{ isDaily ? "Hora" : "Dia" }}
    </button>
  </div>
</main>
